
.render-main{
    border-bottom: 1px solid rgb(247, 244, 244);
    color: black;
    padding: 0.5rem;
    margin: 3px;
    display: flex;
    flex-direction: column;
}
.render-taskCount{
    padding: 0.5rem;
    border-bottom: 1px solid black;
}
.render-taskDetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
    color: rgb(43, 43, 43);
}
.render-taskdescription{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    font-weight: 500;
    color: rgb(102, 100, 100);
    /* margin-left:2rem ; */
    /* border: 2px solid red; */
}
.render-taskstatus{
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    font-weight: 500;

}
.render-Btn{
 display: flex;
 align-items: center;   
 gap: 0.5rem;
}
.render-btn{
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 0.3rem;
    border-color: aliceblue;
    cursor: pointer
}